*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    
    margin-right: 400px;
    margin-left: 80px;
    font-size: 10px;  
    height: 100%;
    margin-top: 50px;
    
    
}
.row h1{
    font-size: 20px;
}
.row p{
    font-size: 13px;
}
.row .button{
    font-size: 20px;
    width: 200px;
    border-color: gray;
    
  
}
.head h1{
    font-size: 60px;
}
.head p{
    width: 500px;
}
.head{
    margin-left: 145px;
    margin-top: 20px;
    background-color: gray;
    width: 900px;
    height: 220px;
    padding-left: 90px;
    padding-top: 30px;
}
.sitebar{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 10px;
   
    
}
.sitebar a{
    text-decoration: none;
}
.contain{
    display: flex;
}
.icon{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 13px;
}
ul.demo{
    list-style: none;
}